<script type="text/javascript">
    RED.nodes.registerType('viaris',{
        category: 'viaris Ev charger',
        color: '#a6bbcf',
        defaults: {
            name: {value:"viaris", required: true},
            serialNumber: { value: "", required: true },
            brokerServer: { value: "", required: true },
            username: { value: "", required: true },
            password: { value: "", required: true },
            port: {value:"1883", required: true},
            qos: { value: "0", required: true },
            keepalive: { value: "180", required: true},
        },
        inputs:1,
        outputs:5,
        InputLabels: function(index) {
            switch(index){
                case 0:
                    return "input_connector";
            }
        },
        outputLabels: function(index) {
            switch (index) {
                case 0:
                    return "Modulator";
                case 1:
                    return "MQTT_cfg";
                case 2:
                    return "Boot_sys";
                case 3:
                    return "Connector 1";
                case 4:
                    return "Connector 2";
                default:
                    return "output";
            }
        },
        icon: "icon-viaris.png",
        oneditprepare: function () {
            $("#node-input-name").val(this.name);
            $("#node-input-serialNumber").val(this.serialNumber);
            $("#node-input-brokerServer").val(this.brokerServer);
            $("#node-input-username").val(this.username);
            $("#node-input-password").val(this.password);
            $("#node-input-port").val(this.port);
            $("#node-input-keepalive").val(this.keepalive);
            $("#node-input-qos").val();
        },
        oneditcancel: function () {
            // Reset fields if editing is canceled
            $("#node-input-name").val(this.name);
            $("#node-input-serialNumber").val(this.serialNumber);
            $("#node-input-brokerServer").val(this.brokerServer);
            $("#node-input-username").val(this.username);
            $("#node-input-password").val(this.password);
            $("#node-input-port").val(this.port);
            $("#node-input-keepalive").val(this.keepalive);
            $("#node-input-qos").val();
        },
        label: function() {
            return this.name||"viaris";
        }
    });
</script>
<script type="text/html" data-template-name="viaris">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name" ng-model="name">
    </div>
    <div class="form-row">
        <label for="node-input-serialNumber"><i class="fa fa-mobile"></i> Serial Number</label>
        <input type="text" id="node-input-serialNumber" placeholder="Serial Number" ng-model="serialNumber">
    </div>
    <div class="form-row">
        <label for="node-input-brokerServer"><i class="fa fa-globe"></i> Broker</label>
        <input type="text" id="node-input-brokerServer" placeholder="Broker Server" ng-model="brokerServer">
    </div>
    <div class="form-row">
        <label for="node-input-username"><i class="fa fa-user"></i> Username</label>
        <input type="text" id="node-input-username" placeholder="Username" ng-model="username">
    </div>
    <div class="form-row">
        <label for="node-input-password"><i class="fa fa-key"></i> Password</label>
        <input type="password" id="node-input-password" placeholder="Password" ng-model="password">
    </div>
    <div class="form-row">
        <label for="node-input-port"><i class="fa fa-server"></i> Port</label>
        <input type="number" id="node-input-port" placeholder="Port" ng-model="port">
    </div>
    <div class="form-row">
        <label for="node-input-qos"><i class="fa fa-exchange"></i> QoS</label>
        <select id="node-input-qos">
          <option value=0>QoS 0</option>
          <option value=1>QoS 1</option>
          <option value=2>QoS 2</option>
        </select>
    </div>
    <div class="form-row">
        <label for="node-input-keepalive"><i class="fa fa-heartbeat"></i> Keepalive</label>
        <input type="number" id="node-input-keepalive" placeholder="Keepalive" ng-model="keepalive">
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#node-input-serialNumber").on('change', function() {
                var serialNumber = $(this).val();
                regex = /^(EVVC3|EVVC4)[0-9A-Fa-f]{8}$/;
                if (!regex.test(serialNumber)) {
                    window.alert("Error: Invalid serial number");
                    $(this).val('');     
                }
            });
            $("#node-input-port").on('change', function() {
                var port = $(this).val();
                if (port<0 || port>65535) {
                    window.alert("Error: Invalid port number");
                    $(this).val('');     
                }
            });
            $("#node-input-keepalive").on('change', function() {
                var keepAlive = $(this).val();
                if (keepAlive<0 || keepAlive>65535) {
                    window.alert("Error: Invalid keepalive value");
                    $(this).val('');    
                }
            });
        });
    </script>
</script>

<script type="text/html" data-help-name="viaris">
    <p>viaris allows communication between an MQTT broker server and a Viaris electric vehicle charger to achieve monitoring of states and measurements related to the charging processes.</p>
    <h3>Inputs</h3>
    <dl class="message-properties">
        <dt>Serial number
            <span class="property-type">string</span>
        </dt>
        <dd>Viaris serial number. </dd>
        <dt>Broker server
            <span class="property-type">string</span>
        </dt>
        <dd>Broker server url or ip address</dd>
        <dt>Username
            <span class="property-type">string</span>
        </dt>
        <dd>Broker username</dd>
        <dt>Password
            <span class="property-type">string</span>
        </dt>
        <dd>Broker password</dd>
        <dt>Port
            <span class="property-type">number</span>
        </dt>
        <dd>Broker port, default 1883</dd>
        <dt>QoS
            <span class="property-type">number</span>
        </dt>
        <dd>Quality of service in MQTT communications, value can be 0, 1 or 2</dd>
        <dt>keepalive
            <span class="property-type">number</span>
        </dt>
        <dd>Time interval, measured in seconds, negotiated between the MQTT client and the MQTT broker.</dd>
    </dl>
    <h3>Outputs</h3>
    <ol class="node-ports">
        <li>Modulator
            <dl class="message-properties">               
                <dt>payload <span class="property-type">string</span></dt>
                <dd>Measurements value output.</dd>
                <dd>Example: </dd>
                <dd>payload: <code><pre>{
                        evsePower: '0.00',
                        homePower: '0.00',
                        totalPower: '0.00',
                        actPwCon1: array[3]
                            0: "0.86"
                            1: "0.00"
                            2: "0.00"
                        actPwCon2: array[3]
                            0: "0.00"
                            1: "0.00"
                            2: "0.00"
                        reactPwCon1: array[3]
                            0: "0.00"
                            1: "0.00"
                            2: "0.00"
                        reactPwCon2: array[3]
                            0: "0.00"
                            1: "0.00"
                            2: "0.00",
                        actEnergyCon1: '154.20',
                        actEnergyCon2: '205.82',
                        currentAssignCon1: "16.00"
                        currentAssignCon2: "0.00"
                        reactEnergyCon1: '0.00',
                        reactEnergyCon2: '0.00',
                        totalEnergy: '0.00',
                        relOverload: '0.00',
                        totalCurrent: '0.00'
                        BattEnergy: '0.00'
                        FvPower: '0.00'
                        instPower:'0.00'
                    }</pre></code>
                </dd>
            </dl>
        </li>
        <li>MQTT_cfg
            <dl class="message-properties">
                <dt>payload <span class="property-type">string</span></dt>
                <dd>Mqtt configuration parameters output.</dd>
                <dd>Example: </dd>
                <dd>payload: <code><pre>{
                        keepAlive: 180,
                        mqttUrl: '1.1.2.201',
                        mqttPort: 1883,
                        mqttUser: 'MQTTBROKER',
                        mqttClientId: 'EVVC351187AA0',
                        qos: 1,
                        pingInterval: 900
                    }</pre></code></dd>
                </dd>
            </dl>
        </li>
        <li>Boot_sys
            <dl class="message-properties">
                <dt>payload <span class="property-type">string</span></dt>
                <dd>Charger information output.</dd>
                <dd>Example: </dd>
                <dd>payload: <code><pre>{
                  ethernet: true,
                  ocpp: true,
                  rfid: true,
                  spl: false,
                  schuko: true,
                  modbus: true,
                  solar: true,
                  mac: '40:91:51:18:7A:A0',
                  fwApp: '7.0.6',
                  hwver: '8.0',
                  model: 'VIARIS UNI',
                  serial: 'EVVC351187AA0',
                  fwCortex: '003.005.004 Jun 15 2023 10:57:12',
                  fwPwVers: '3PH_FW_ORB_V00.9 ',
                  hwPwVersion: 'PK1T1-C V1.2   ',
                  maxPower: 22080,
                  limitPower: 22080,
                  selectorPower: 22080
                }</pre></code></dd>
            </dl>
        </li>
        <li>Connector 1
            <dl class="message-properties">
                <dt>payload <span class="property-type">string</span></dt>
                <dd>- UNI model: Mennekes connector state output.</dd>
                <dd>Example: </dd>
                <dd>payload: <code><pre>{ user: '508289ab', state_mennekes: 'Charging: power limit' }</pre></code></dd>
                <dd>- COMBIPLUS model: Mennekes 1 connector state output.</dd>
                <dd>Example: </dd>
                <dd>payload: <code><pre>{ user: '508289ab', state_mennekes1: 'Charging: power limit' }</pre></code></dd>
            </dl>
        </li>
        <li>Connector 2
            <dl class="message-properties">
                <dt>payload <span class="property-type">string</span></dt>
                <dd>- UNI model: Schuko connector state output.</dd>
                <dd>Example: </dd>
                <dd>payload: <code><pre>{ user: '', state_schuko: 'Charging: power limit' }</pre></code></dd>
                <dd>- COMBIPLUS model: Mennekes 2 connector state output.</dd>
                <dd>Example: </dd>
                <dd>payload: <code><pre>{ user: '508289ab', state_mennekes2: 'Charging: power limit' }</pre></code></dd>
            </dl>
        </li>
    </ol>
    <h3>Details</h3>
    <p><code>msg.payload</code> Contains the fields of each output.</p>
    <p>Example: if you want to know keepAlive value of MQTT_cfg output, you can access like this <code>msg.payload.keepAlive</code></p>
    <p></p>
    <p>Mennekes states are the following: </p>
    <p><code>- Standby</code></p>
    <p><code>- Disconnected</code></p>
    <p><code>- Disconnected without permission</code></p>
    <p><code>- Connected</code></p>
    <p><code>- Connected with permission</code></p>
    <p><code>- Charging</code></p>
    <p><code>- Charging: power limit</code></p>
    <p><code>- Paused charging</code></p>
    <p><code>- Charging finished</code></p>
    <p><code>- AC leakage error</code></p>
    <p><code>- DC leakage error</code></p>
    <p><code>- Diode error</code></p>
    <p><code>- PE ground error</code></p>
    <p><code>- Inoperative</code></p>
    <p><code>- Selected</code></p>
    <p><code>- Reserved</code></p>
    <p><code>- Motor error</code></p>
    <p></p>
    <p>Schuko states are the following: </p>
    <p><code>- schuko standby</code></p>
    <p><code>- schuko ON, load</code></p>
    <p><code>- schuko ON, not load</code></p>
    <p><code>- schuko OFF</code></p>
    <p></p>
    <p>To start or stop a charge, you can connect to the viaris input an injection node with these <code>msg.payload</code> strings:</p>
    <p><code>- StartConn1</code>: Start charging Connector 1</p>
    <p><code>- StopConn1</code>: Stop charging Connector 1</p>
    <p><code>- StartConn2</code>: Start charging Connector 2</p>
    <p><code>- StopConn2</code>:Stop charging Connector 2</p>
    <p>To change the limit current power connect an injection node with these <code>msg.payload</code> strings:</p>
    <p><code>- SetCurrentConn1</code>: Current limit Connector 1</p>
    <p><code>- SetCurrentConn2</code>: Current limit Connector 2</p>
    <p><code>msg.topic</code> has to be configured with the amperes and the range must be between 0 and 32A</p>
    <p>To change measurements update time connect an injection node with this <code>msg.payload</code> string:</p>
    <p><code>- SetRtFrame</code>: Set configuration Rt frame, period and timeout</p>
    <p><code>msg.topic</code> has to be configured with timeout and period in seconds. Timeout = -1 means always reporting data</p>
    <p></p>Recommended configuration <code>{"period":3, "timeout":-1}</code></p>
</script>
